@{
    ViewBag.Title = "TC";
    Layout = "~/Views/Shared/index.cshtml";
}

<div class="PlantTrees-bg" style="background-color: #1e3937;">
    <div class="container " style="padding-top:5.5rem;">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/NTB.png" alt="mb" class="img-fluid rounded" style="width: 100%;">
                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/DB.png" alt="mt" class="img-fluid rounded" style="width: 100%;">

                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/TB.png" alt="mn" class="img-fluid rounded" style="width: 100%; ">
                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/DBSH.png" alt="mb" class="img-fluid rounded" style="width: 100%;">
                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/BTB.png" alt="mt" class="img-fluid rounded" style="width: 100%;">

                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/DNB.png" alt="mn" class="img-fluid rounded" style="width: 100%; ">

                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="thumbnail mt-3 overlay">
                    <a href="#">
                        <img src="~/image/DBSCL.png" alt="mn" class="img-fluid rounded" style="width: 100%; ">
                    </a>
                    <div class="view-button">
                        <button class="btn btn-outline-light btn-lg btn-block text-uppercase">View all</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>